<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1 th:text="${userId} + '\'s profile'">Profile</h1>
    <div class="container">
        <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">Select your profile theme:</label>
                <select th:field="*{theme}">
                    <option th:each="i : ${#numbers.sequence(1, 1)}" th:value="${i}" th:text="${'Theme ' + i}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input class="form-control" id="firstName" th:field="*{firstName}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input class="form-control" id="lastName" th:field="*{lastName}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input class="form-control" id="email" th:field="*{email}">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input class="form-control" id="phone" th:field="*{phone}">
            </div>
            <div class="mb-3">
                <label for="designation" class="form-label">Designation</label>
                <input class="form-control" id="designation" th:field="*{designation}">
            </div>
            <div class="mb-3">
                <label for="designation" class="form-label">Designation</label>
                <textarea class="form-control" id="summary" th:field="*{summary}"/>
            </div>

            <h3>Experience</h3>
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Current Job?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job, stat : *{jobs}">
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].company}"></td>
                        <td><input class="form-control" th:field="*{jobs[__${stat.index}__].designation}"></td>
                        <td><input type="date" class="form-control" th:field="*{jobs[__${stat.index}__].startDate}"></td>
                        <td><input type="date" class="form-control" th:field="*{jobs[__${stat.index}__].endDate}"></td>
                        <td><input type="checkbox" class="form-check-input" th:field="*{jobs[__${stat.index}__].currentJob}"></td>
                        <td><a th:href="@{'./delete?type=job&index=' + ${stat.index}}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=job">Add Job</a></p>

            <h3>Education</h3>
            <table>
                <thead>
                <tr>
                    <th>College</th>
                    <th>Qualification</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Summary</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="education, stat : *{educations}">
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].college}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].qualification}"></td>
                    <td><input type="date" class="form-control" th:field="*{educations[__${stat.index}__].startDate}"></td>
                    <td><input type="date" class="form-control" th:field="*{educations[__${stat.index}__].endDate}"></td>
                    <td><input class="form-control" th:field="*{educations[__${stat.index}__].summary}"></td>
                    <td><a th:href="@{'./delete?type=education&index=' + ${stat.index}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=education">Add Education</a></p>

            <h3>Skills</h3>
            <table>
                <tbody>
                <tr th:each="skill, stat : *{skills}">
                    <td><input class="form-control" th:field="*{skills[__${stat.index}__]}"></td>
                    <td><a th:href="@{'./delete?type=skill&index=' + ${stat.index}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <p><a href="./edit?add=skill">Add Skill</a></p>

            <input type="submit">
        </form>
    </div>
</body>
</html>